- name: Install cluster loadbalancer
  hosts: loadbalancer
  become: true
  gather_facts: true
  roles:
   - role: haproxy

- name: Install K3s cluster
  ansible.builtin.import_playbook: k3s.orchestration.site

- name: Setup K3s mgmt system
  hosts: mgmt
  gather_facts: true
  roles:
    - role: kube-tools

- name: Bootstrap K3s cluster
  hosts: mgmt
  gather_facts: true
  roles:
    - role: argo
      become: true
      vars:
        ansible_python_interpreter: "{{ k3s_ansible_venv_path }}/bin/python"