mgmt:
  hosts:
    192.168.122.10:

k3s_cluster:
  children:
    loadbalancer:
      hosts:
        192.168.122.10:
    server:
      hosts:
        192.168.122.11:
        192.168.122.12:
        192.168.122.13:
    agent:
      hosts: {}
