---
- name: Get kubectl installed version
  ansible.builtin.command: kubectl version --client | head -n 1
  register: kube_tools_kubectl_version_output
  changed_when: false
  ignore_errors: true

# Install kubectl only if:
# 1. kubectl is not installed (rc != 0)
# 2. OR the installed versions differs from kubectl_version
- name: Download Artifact only if needed
  when: kube_tools_kubectl_version_output.rc != 0 or (kubectl_version not in kube_tools_kubectl_version_output.stdout)
  block:
    - name: Download kubectl binary
      ansible.builtin.get_url:
        url: https://dl.k8s.io/release/{{ kubectl_version }}/bin/{{ os_type }}/{{ os_arch }}/kubectl
        dest: /tmp/kubectl
        mode: "0644"

    - name: Install kubectl binary
      ansible.builtin.copy:
        src: "/tmp/kubectl"
        dest: "{{ kube_tools_kubectl_install_dir }}/kubectl"
        mode: "0755"
        remote_src: true
      become: true

    - name: Clean up kubectl binary
      ansible.builtin.file:
        path: /tmp/kubectl
        state: absent
